/* font @import */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Corinthia:wght@700&display=swap');
:root {
  /* css variables with theme colors,
    names have to start with "--" */
  --gin:#DBEAE3; 
} 
body {
  background: var(--gin);
  font-family:'Corinthia', cursive;
  padding:20px; 
}
@media (min-width: 600px) {
  .example {
    grid-template-columns: 50% 50%;
    align-items: left;
    grid-gap: 5px;
  }
} 
h1 {
  text-align: justify;
  padding-bottom: 10px;
} 
section{
  width: 800px;
  height: 300px;
  padding-top: 20px;
  border: 3px dotted pink;
  background:url(https://media.istockphoto.com/photos/christmas-or-winter-composition-snowflakes-and-red-berries-on-gray-picture-id1285648942);
  background-size: cover; 
  align-content: left;
}
#inputs {
  font-family: 'Caveat', cursive;
  width: 100%;
  max-width: 400px;
}
label, input, select, textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

label {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 3px;
}

textarea {
  resize: none;
  height: 60px;
}

input, select {
  height: 30px;
  font-size: 1rem;
}
#image {
  width: 250px;
  height: 100%;
  padding: 20px;
}
